body {
	background: url("https://cdn.pixabay.com/photo/2017/10/07/17/05/sky-2827189__340.jpg") no-repeat center fixed;
	background-size: cover;
	font-family: 'Acme', sans-serif;
}

input[type="text"] {
	font-size: 1.5em;
}

.current-weather {
	margin-top:40px;
	background-color:rgba(7, 53, 68, 0.5);
	position:center;
	box-shadow: 3px 3px 8px 8px rgba(7, 53, 68, 0.5);
	border-color: white; 
	border-width:medium;
}

.weatherIcon {
    width: 100px;
    height: auto;
}

.tab-bar {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 4rem;
	line-height: 4rem;
}

h1 {
	padding-top: 0.5rem;
}

.row, .button {
	font-family: 'Acme', sans-serif;
}

.tab-bar h1 {
	font-family: 'Acme', sans-serif;
	font-size: 1.9rem;
}

.middle {
	text-align: center;
}

.header{
	margin-top: 2rem;
	font-family: 'Acme', sans-serif;
}

.city-name{
	font-size: 3rem;
	font-family: 'Acme', sans-serif;
	text-transform: capitalize;
}

.main-temp{
	font-size: 2.5em;
}

.max-min-temp{
	font-size:1.5em;
}
.max-min-temp.max{
	color: rgb(209, 71, 71);
}

.max-min-temp.min{
	color: rgb(25, 42, 201);
}

.celsius-sign{
	vertical-align: top;
}

.record-date, .humidity{
	font-size: .8em;
	color: rgb(211, 218, 219);
}

.description{
	font-size:1.2em;
	color: #ccc;
}

@media only screen and (min-width: 40.063em) {
	.current-weather .max-min-col{
		border-left: 1px solid #ccc;
	}
}

@media only screen and (max-width: 768px) {
	.current-weather{
		
}
	.tab-bar h1 {
		font-size: 1.23rem;
	}
}